root { 
  display: block;
}

h2.title {
  text-align: center;
}

.box {
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  border: 2px solid #E3E3E3;
  float: left;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  display: block;
  clear: both;
}

.box h4 {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin: 0 -10px 0 -10px;
  padding: 5px 0;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 5px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 5px;
  box-shadow: rgba(0,0,0,.3) 0 1px 5px;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #E3E3E3 50%, #F5F5F5 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #E3E3E3 50%, #F5F5F5 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #E3E3E3 50%, #F5F5F5 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.5, #E3E3E3), color-stop(1, #F5F5F5));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #E3E3E3 50%, #F5F5F5 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #E3E3E3 50%, #F5F5F5 100%);
}

.box .button {
  width: 50%;
  margin-left: 100px;
  margin-top: 10px;
}

.box p {
  padding: 7px 7px 7px 7px;
}
.box input, select, textarea {
  width: 50%;
  padding: 5px 0 5px 0;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.padding5 {
  padding: 10px 10px 10px 10px;
}
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* IE < 8 */
}

.send_failed {
  text-align: center;
  padding: 7px 0 7px 0;
  background-color: #ffebe8;
  border-color: #c00;
  margin: 5px 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.send_success {
  text-align: center;
  padding: 7px 0 7px 0;
  background-color: #ffffe0;
  border-color: #e6db55;
  margin: 5px 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}