root { 
  display: block;
}

h2.title {
  text-align: center;
}

.stuffbox {
  margin: 10px;
  width: 740px;
  display: block;
  clear: both;
}

.stuffbox .button {
  margin-top: 10px;
}

.submit-button {
  width: 100%;
  text-align: center;
}

.stuffbox p {
  padding: 7px 7px 7px 7px;
}
.stuffbox input, select, textarea {
  width: 60%;
  padding: 5px 0 5px 0;
}

.stuffbox h3 {
  cursor: default !important;
  padding: 3px 3px 3px 10px;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.padding5 {
  padding: 10px 10px 10px 10px;
}
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* IE < 8 */
}

.send-failed, .save-error {
  text-align: center;
  padding: 7px 0 7px 0;
  background-color: #ffebe8;
  border-color: #c00;
  margin: 5px 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.send-success, .save-success {
  text-align: center;
  padding: 7px 0 7px 0;
  background-color: #ffffe0;
  border-color: #e6db55;
  margin: 5px 0 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}

.code {
  background-color: #F8F8F8;
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
}

/* SendGrid stats */
.sendgrid-filters-container {
  float:right; 
  margin-right:13px;
}

#sendgrid-container {
  width: 100%; 
  position: relative;
}

#sendgrid-container .loading {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 386px;
  top: 146px;
}

#sendgrid-container #sendgrid-stats {
  width: 100%;
  height: 300px;
}

#sendgrid-container .widget {
  float:left;
  width: 189px; 
  margin-top: 15px;
  margin-left: 15px;
  cursor: default;
}

#sendgrid-container .widget .widget-top {
  cursor: default;
}

#sendgrid-container .widget .widget-inside {
  display:block; 
  text-align: center;
}

#sendgrid-container .widget .widget-inside h2 {
  font-weight: bold;
}

#sendgrid-container .widget:first-of-type {
  margin-left: 0px;
}

#sendgrid-container .widget#others {
  font-weight: bold;
}

#sendgrid-container .widget#others .row {
  margin-bottom: 2px;
}

#sendgrid-container .widget#others .row:last-of-type {
  margin-bottom: 0px;
}

#sendgrid-container .widget#others .row .square {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  -webkit-box-shadow: 1px 1px 0 rgba(40, 40, 40, 0.3) inset;
  -moz-box-shadow: 1px 1px 0 rgba(40, 40, 40, 0.3) inset;
  box-shadow: 1px 1px 0 rgba(40, 40, 40, 0.3) inset;
  -webkit-box-shadow: 1px 1px 0 rgba(40, 40, 40, 0.3) inset;
  -moz-box-shadow: 1px 1px 0 rgba(40, 40, 40, 0.3) inset;
  box-shadow: 1px 1px 0 rgba(40, 40, 40, 0.3) inset;
}

#sendgrid-stats-legend {
  width: 100%; 
  height: 22px; 
  margin-top: 15px;
}

#sendgrid-stats-legend .legendLabel {
  padding-right: 10px;
}

#sendgrid-stats-legend .legendLabel:last-of-type {
  padding-right: 0px;
}

.ui-widget-header {
  background: #f1f1f1;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
  background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
  background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
  background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
  background-image: linear-gradient(to top,#ececec,#f9f9f9);
  border-color: #dfdfdf;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #464646;
}
